#define RPI 175

//  ╭─────────────────────────┬─────────────────────────╮
//  │ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
//  │ LM5 LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 RM5 │
//  │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
//  ╰───────────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
//              ╰─────────────┴─────────────╯  
//   ╭────────────────────────┬────────────────────────╮ 
//   │  0   1   2   3   4   5 │  6   7   8   9  10  11 │ 
//   │ 12  13  14  15  16  17 │ 18  19  20  21  22  23 │ 
//   │ 24  25  26  27  28  29 │ 30  31  32  33  34  35 │ 
//   ╰───────────╮ 36  37  38 │ 39  40  41 ╭───────────╯ 
			//   ╰────────────┴────────────╯             

// Engrammer center column rotated on to home row
#if LAYOUT == ENGRAMMER
	ZMK_COMBO(caps_word, &caps_word, LM1 RM1, 0, 50, RPI)
	ZMK_COMBO(minus, &mt UNDER MINUS, 13 14, 0, 25, RPI)
	ZMK_COMBO(comma, &mt LT COMMA, 14 15, 0, 25, RPI)
	ZMK_COMBO(sqt, &mt DQT SQT, 15 16, 0, 25, RPI)
	ZMK_COMBO(semi, &mt COLON SEMI, 19 20, 0, 25, RPI)
	ZMK_COMBO(dot, &mt GT DOT, 20 21, 0, 25, RPI)
	ZMK_COMBO(slash, &mt QMARK SLASH, 21 22, 0, 25, RPI)
	ZMK_COMBO(equl, &mt PLUS EQUAL, RT1 RT2, 0, 25, RPI)
	ZMK_COMBO(bslh, &mt PIPE BSLH, LT1 LT2, 0, 25, RPI)
	ZMK_COMBO(letterb, &kp B, LT2 LT3, 0, 25, RPI)
	ZMK_COMBO(letterb, &kp B, RB2 RB3, 0, 25, RPI)
	ZMK_COMBO(letterv, &kp V, RT2 RT3, 0, 25, RPI)
	ZMK_COMBO(letterz, &kp Z, RB1 RB2, 0, 25, RPI)
	ZMK_COMBO(letterq, &kp Q, RB3 RB4, 0, 25, RPI)
	ZMK_COMBO(cclbkt, &mt LBRC LBKT, LM0 LB0, 0, 50, RPI)
	ZMK_COMBO(ccrbkt, &mt RBRC RBKT, RM0 RB0, ALL, 50, RPI)
	
	// ZMK_COMBO(bl_next, &bt BT_NXT, RT5 RM5 RB5, NUM_L, 50, RPI)
#endif

// Numbers
	ZMK_COMBO(lbkt, &mt LBRC LBKT, LT5 LM5, ALL, 50, RPI)
	ZMK_COMBO(rbkt, &mt RBRC RBKT, RT5 RM5, ALL, 50, RPI)
#if LAYOUT == ENGRAM
	ZMK_COMBO(1, &mt PIPE N1, 1 13, ALL, 50, RPI)
	ZMK_COMBO(2, &mt EQUAL N2, 2 14, ALL, 50, RPI)
	ZMK_COMBO(3, &mt TILDE N3, 3 15, ALL, 50, RPI)
	ZMK_COMBO(4, &mt PLUS N4, 4 16, ALL, 50, RPI)
	ZMK_COMBO(5, &mt LT N5, 5 17, ALL, 50, RPI)
	ZMK_COMBO(6, &mt GT N6, 6 18, ALL, 50, RPI)
	ZMK_COMBO(7, &mt CARET N7, 7 19, ALL, 50, RPI)
	ZMK_COMBO(8, &mt AMPS N8, 8 20, ALL, 50, RPI)
	ZMK_COMBO(9, &mt PERCENT N9, 9 21, ALL, 50, RPI)
	ZMK_COMBO(0, &mt STAR N0, 10 22, ALL, 50, RPI) 
#else	
	ZMK_COMBO(1, &mt EXCL N1, 1 13, ALL, 50, RPI)
	ZMK_COMBO(2, &mt AT N2, 2 14, ALL, 50, RPI)
	ZMK_COMBO(3, &mt HASH N3, 3 15, ALL, 50, RPI)
	ZMK_COMBO(4, &mt DOLLAR N4, 4 16, ALL, 50, RPI)
	ZMK_COMBO(5, &mt PERCENT N5, 5 17, ALL, 50, RPI)
	ZMK_COMBO(6, &mt CARET N6, 6 18, ALL, 50, RPI)
	ZMK_COMBO(7, &mt AMPS N7, 7 19, ALL, 50, RPI)
	ZMK_COMBO(8, &mt STAR N8, 8 20, ALL, 50, RPI)
	ZMK_COMBO(9, &mt LPAR N9, 9 21, ALL, 50, RPI)
	ZMK_COMBO(0, &mt RPAR N0, 10 22, ALL, 50, RPI) 
#endif

// Section Symbol
#if LAYOUT == QWERTY || LAYOUT == QWERTY_FLIP
	ZMK_COMBO(sect, &kp LA(6), LM0 LB0, ALL, 50, RPI)
#endif

// Clipboard
ZMK_COMBO(redo, &kp LS(LG(Z)), 12 24, ALL, 50, RPI)
ZMK_COMBO(undo, &kp LG(Z), 13 25, ALL, 50, RPI)
ZMK_COMBO(cut, &kp LG(X), 14 26, ALL, 50, RPI)
ZMK_COMBO(copy, &kp LG(C), 15 27, ALL, 50, RPI) 
ZMK_COMBO(paste, &kp LG(V), 16 28, ALL, 50, RPI)

// Navigation
ZMK_COMBO(left, &mt HOME LEFT, 19 31, ALL, 50, RPI)
ZMK_COMBO(down, &mt PG_DN DOWN, 20 32, ALL, 50, RPI)
ZMK_COMBO(up, &mt PG_UP UP, 21 33, ALL, 50, RPI) 
ZMK_COMBO(right, &mt END RIGHT, 22 34, ALL, 50, RPI)

// Bluetooth
ZMK_COMBO(bl_clear, &bt BT_CLR, RT0 RM0 RB0, NUM_L, 50, RPI)
ZMK_COMBO(bl_next, &bt BT_NXT, RT5 RM5 RB5, NUM_L, 50, RPI)
ZMK_COMBO(out_tog, &out OUT_TOG, LT0 LM0 LB0, NUM_L, 50, RPI)
